.topContainer {
  position: relative;
  width: 100%;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.topTextImage {
  position: absolute;
  bottom: 20px;
  height: auto;
  z-index: 10;
  opacity: 0;
  animation: fadeIn 2s ease-in-out forwards;
}

/* モバイル用のスタイル */
@media (max-width: 767px) {
  .topContainer {
    height: 90vh;
    background-image: url("/images/index/top.sp.jpg");
  }

  .topTextImage {
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    max-width: 400px;
  }
}

/* タブレット用のスタイル */
@media (min-width: 768px) and (max-width: 1023px) {
  .topContainer {
    height: 100vh;
    background-image: url("/images/index/top.tb.jpg");
  }

  .topTextImage {
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    max-width: 1000px;
  }
}

/* PC用のスタイル */
@media (min-width: 1024px) {
  .topContainer {
    height: 100vh;
    background-image: url("/images/index/top.jpg");
  }

  .topTextImage {
    left: 5%;
    width: 90%;
    max-width: 700px;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
